// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
.brand {
    width: 100px;
    margin-top: -6px;
}

.material-icons {
    cursor: pointer;
}

.edit {
    float: right;
    margin-right: 30px;
    font-size: 18px;
}

.info {
    position: absolute;
    top: 50px;
    background: #fff;
    height: 850px;
    width: 400px;
    border-radius: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    transition: .5s;
}

.toggle-button-container {
    position: absolute;
    top: 0px;
    right: -23px;
}

.toggle-button {
    width: 23px;
    height: 48px;
    cursor: pointer;
    background: #fefefe url(../../../public/img/arrow-icon.png) 7px center/7px 10px no-repeat;
    border: 0;
    box-shadow: 4px 0 20px -3px rgba(0, 0, 0, 0.3);
    border-left: 1px solid #d4d4d4;
}

*:focus {
    outline: none;
}

.info li {
    margin: 5px 0;
}

.info input {
    border: 0;
    border-bottom: 1px solid #4285f4;
}

#map {
    height: 100%;
}

section {
    height: 898px;
}

nav.navbar.navbar-default.navbar-static-top {
    border: 0;
    margin: 0;
    z-index: 1;
}

.navbar-collapse {
    border-top: 1px solid black;
    background-color: white;
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
    position: absolute;
    left: 145px;
    top: 0;
    z-index: 2;
    box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid gainsboro;
}

#googleMap {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


/*style the box*/

.gm-style .gm-style-iw {
    /* background-color: #f6f6f6 !important; */
    /* box-sizing: border-box; */
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    /* height: 16px !important; */
    max-height: 60px !important;
    padding-top: 1px;
    padding-left: 10px;
    display: block !important;
}

.gm-style-pbc+div+div div+div+div+div div+div div div+div+div {
    /* height: 30px!important; */
    background-color: #f6f6f6 !important;
    border-radius: 0!important;
}

.gm-style .gm-style-iw {
    overflow: visible;
}


/*style the arrow*/

.gm-style div div div div div div div div {
    background-color: #f6f6f6 !important;
    padding: 0;
    margin: 0;
    padding: 0;
    top: 0;
}


/* tlp */

.tlp {
    padding: 5px;
    background: #f6f6f6;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.3);
}

.tlp .material-icons {
    font-size: 17px;
    cursor: pointer;
}

.tlp a {
    color: black;
}

.tlp a:hover {
    color: #4d90fe;
}

.tlp a:active {
    color: #4370b9;
}


/*CUSTOM CSS*/

@media (min-width: 1200px) {
    .container {
        width: 100%;
    }
}

.footer {
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left p {
    color: #777;
    margin-left: 10px;
}

.footer-right li {
    display: inline-block;
    padding: 5px;
}

.footer-right a {
    color: #777;
}

.footer-right a:hover {
    text-decoration: none;
}


.panel-default {
    margin-top: 5%;
}

.panel-body {
    margin-top: 35px;
}

.btn-facebook {
    background-color: #4568b2;
    color: white;
    width: 100%;
    border: 2px solid #4568b2;
    border-radius: 4px;
    margin-bottom: 10px;
}

.btn-facebook:hover {
    color: white;
}

.btn-google {
    background-color: #ffffff;
    color: #5d5d5d;
    font-weight: bold;
    width: 100%;
    border: 2px solid #5d5d5d;
    border-radius: 4px;
}

hr {
    border-top: 1px solid #e4e4e4;
}

.lineOverall {
    overflow: hidden;
    text-align: center;
}

.line {
    position: relative;
    padding: 16px;
}

.line::before {
    content: '';
    position: absolute;
    border-bottom: 1px solid #e4e4e4;
    top: 50%;
    right: 100%;
    width: 500px;
}

.line::after {
    content: '';
    position: absolute;
    border-bottom: 1px solid #e4e4e4;
    top: 50%;
    width: 500px;
    margin-left: 15px;
}

.textOu {
    font-weight: normal;
    font-family: Helvetica, sans-serif;
}

input:-webkit-autofill {
    box-shadow: 0 0 0 1000px white inset !important;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: #5d5d5d !important;
    font-weight: 100 !important;
}

.afficheMDP {
    color: #76bcca !important;
    border: 0px !important;
    margin: 0px !important;
    padding: 0px !important;
    font-weight: 100;
    background-color: white !important;
}

.connexion {
    background-color: #fa5c62 !important;
    border-color: #fa5c62 !important;
    width: 100%;
}

.forgetMDP {
    color: #76bcca !important;
    font-weight: 100;
    width: 100%;
}

.inscription {
    color: #76bcca !important;
}

.styleNom {
    color: #85d1e3;
    font-weight: bold;
    font-size: 37px;
}

#pills-tab {
    display: flex;
}

.nav-pills>li {
    flex: 1;
}

.nav-pills>li+li {
    margin-left: 0!important;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #bbb9ba;
    padding: 5px;
    border-radius: 0px !important;
    text-align: center;
}

.nav-pills>li>a,
.nav-pills>li>a:focus,
.nav-pills>li>a:hover {
    color: #5c5c5c;
    background-color: #e6e6e6;
    padding: 5px;
    border-radius: 0px !important;
    text-align: center;
}

#pills-info>ul {
    list-style-type: none;
    margin-left: -15px;
}

#pills-info>ul>li>strong {
    color: #5c5c5c;
}

#pills-info>ul>li>span {
    color: #8d8d8d;
}

div.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom {
    bottom: 110px!important;
}

.comments {
    overflow-wrap: break-word;
    height: 653px;
    overflow-x: auto;
}

#post-comment {
    display: flex;
    flex-direction: column;
}

#post-comment textarea {
    resize: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #e6e6e6; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #bbb9ba; 
}

#pills-images.active {
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-height: 730px;
}
.container-images {
    flex: 1 1 auto;
    padding: 5px;
    padding-top: 0;
}
.image-cascade {
    width: 100%;
}

.container-images-favoris {
    display: flex;
    overflow: auto;
}
.img-fluid {
    flex: 1 1 auto;
    padding: 5px;
    height: 230px;
}
.table {
    margin-bottom: 22px!important;
}
.details-div {
    padding: 25px;
}

.div-comments {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
    padding: 10px;
    flex-wrap: wrap;
}
.img-comments {
    height: 35px;
    margin: 5px;
}

.container-details-zone {
    margin: 30px 20px;
}
.toggle-button-container-mobile {
    display: none;
}
.toggle-button-mobile {
    cursor: pointer;
}
.info h1 {
    text-align: center;
    margin-top: 40px;
}
.favorites-container {
    position: absolute;
    right: 20px;
    top: 10px;
}
.favorites {
    width: 25px;
    cursor: pointer;
}

.info-enter-active {
    transition: all .3s ease;
}
.info-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.info-enter, .info-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(-100px);
    opacity: 0;
}
.paragraph-comments {
    display: flex;
    align-items: center;
}
.photo-comments {
    width: 150px;
    margin-left: 50px;
}
.error {
    margin: 20px;
}
input.styleNom {
    max-width: 400px;
    padding-left: 20px;
}
.poids-constituant {
    width: 100px;
    height: 23px;
    margin-left: 10px;
}

.poids-constituant+span {
    color: #fa5c62;
    float: right;
}
.li-modal {
    margin-bottom: 5px;
    list-style: none;
}

@media (max-width: 500px) {
    .footer {
        flex-direction: column;
        position: inherit;
    }
    .footer-right li {
        display: block;
        text-align: center;
    }
    #pac-input {
        width: 160px;
        left: 120px;
    }
    .logo1 {
        width: 80%;
    }
    .burgerhead {
        float: right;
    }
    nav.navbar.navbar-default.navbar-static-top,
    .navbar-header {
        height: 50px;
    }
    .info {
        height: 900px;
        width: 100%;
        box-shadow: none;
    }
    .toggle-button-container {
        display: none;
    }
    .toggle-button-container-mobile {
        display: block;
        position: absolute;
        left: 10px;
    }
    .favorites-container {
        top: 5px;
    }
    .styleNom {
        font-size: 35px;
    }
    .social-media {
        display: inline-block!important;
    }
    .footer-right ul {
        padding: 0;
    }
    .footer-left p {
        margin-top: 10px;
        margin-left: 0;
    }
    #facebook {
        margin-left: 21%;
    }
}

@media (max-width: 355px) {
    #pac-input {
        width: 90px;
        left: 120px;
    }
}